.section-list {
  width: 860px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  bottom: 100px;
  overflow: auto;
}

.pokemon {
  display: flex;
  height: 48px;
  line-height: 48px;
  align-items: center;
}

.pokemon .avatar {
  width: 48px;
}

.pokemon * + * {
  margin-left: 12px;
}

.pokemon .types {
  display: flex;
  align-items: center;
}

.pokemon .types .type {
  width: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.pokemon .types .type + .type {
  margin-left: 12px;
}

.section-header {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
}
